**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv/
ENV/
env/
.git
.gitignore
.dockerignore
docker-compose.yml
docker-compose.override.yml
README.md
.DS_Store
.vscode
.idea
*.log
db.sqlite3
db.sqlite3*
*.coverage
htmlcov/
.pytest_cache/
node_modules/
*.md
!locale/**
